body {
    background-color: rgb(26, 22, 24);
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: rgb(165, 154, 154);
}

h3 {
    color: rgb(165, 154, 154);
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    margin: 1rem;
    max-width: 50%;
}

#todo-form {
    margin: 30px 30px
}

#todo-form input {
    width: 200px;
    height: 40px;
}

#todo-form button {
    border: none;
    background-color: rgb(228, 178, 15);
    color: rgb(7, 7, 7);
    width: 100px;
    height: 40px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight: 600;
    display: inline-block;
    font-size: 15;
    text-transform: uppercase;
}

button {
    background-color: rgb(26, 22, 24);
    border: 1px solid rgb(228, 178, 15);
    margin: 10px;
    color: rgb(165, 154, 154);
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(228, 178, 15);
    color: white;
}

input {
    float: left;
    margin: 10px;
}