
#box1 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: blue;
    transition: 1s linear 1s;
}

#box2 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(0, 255, 34);
    transition: 1s linear 1s;
}

#box3 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(0, 255, 234);
    transition: 1s linear 1s;
}

#box4 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(132, 0, 255);
    transition: 1s linear 1s;
}

#box5 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(255, 0, 221);
    transition: 1s linear 1s;
}

#box6 {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(255, 0, 13);
    transition:  1s linear 1s;
}

#box1:hover {
    background-color: firebrick;
    width: 50%;
}

#box2:hover {
    height: 75px;
    border: 5px dotted black;
    background-color: rgb(59, 82, 185);
    width: 60%;
}

#box3:hover {
    height: 100px;
    background-color: rgb(250, 10, 210);
    width: 70%;
}

#box4:hover {
    height: 150px;
    background-color: rgb(176, 178, 34);
    width: 80%;
}

#box5:hover {
    height: 200px;
    background-color: rgb(189, 79, 5);
    width: 90%;
}

#box6:hover {
    height: 300px;
    background-color: rgb(234, 250, 8);
    width: 100%;
}