* {
    box-sizing: border-box;
    font-size: 0px;
}

/* body {
    position: fixed;
} */

#d1 {
    display: inline-block;
    position: relative;
    margin: 5px 5px;
    width: 98%;
    height: 175px;
    background-color: #F5C6D6;
}

#d2 {
    width: 100%;
}

#d2>div {
    display: inline-block;
    position: relative;
    margin: 5px 5px;
    width: 24%;
    height: 175px;
    background-color: #EE2E84;
}

#d3 {
    width: 100%;
}

#d3>div {
    display: inline-block;
    position: relative;
    margin: 5px 5px;
    width: 48.67%;
    height: 175px;
    background-color: #85CFD8;
}

#d4 {
    width: 100%;
}

#d4>#green {
    display: inline-block;
    position: relative;
    margin: 5px 5px;
    width: 73%;
    height: 175px;
    background-color: #8DC63F;
}

#d4>#orange {
    display: inline-block;
    position: relative;
    margin: 5px 5px;
    width: 24.4%;
    height: 175px;
    background-color: #E76E34;
}

@media only screen and (max-width: 768px) {

    body {
        position: relative;
    }

    #d1 {
        display: inline-block;
        position: relative;
        margin: 5px 5px;
        width: 100%;
        height: 175px;
        background-color: #F5C6D6;
    }

    #d2>div {
        display: inline-block;
        position: relative;
        margin: 5px 5px;
        width: 100%;
        height: 175px;
        background-color: #EE2E84;
    }

    #d3>div {
        display: inline-block;
        position: relative;
        margin: 5px 5px;
        width: 100%;
        height: 175px;
        background-color: #85CFD8;
    }

    #d4>#green {
        display: inline-block;
        position: relative;
        margin: 5px 5px;
        width: 100%;
        height: 175px;
        background-color: #8DC63F;
    }

    #d4>#orange {
        display: inline-block;
        position: relative;
        margin: 5px 5px;
        width: 100%;
        height: 175px;
        background-color: #E76E34;
    }
}