:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-align: center;
  justify-content: center;
  grid-row: 7/8;
  font-weight: 500;
  color: #c7c7ca;
  text-decoration-line: none;
  margin-left: 10px;
}
a:hover {
  background-color: #323233;
}

nav {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(9, 1fr);
  min-height: 15em;
  background-image: url("./image.jpg");
  background-position-y: -190px;
  background-size: 100%;
  margin-bottom: 50px;
  background-attachment: fixed;
}

.nav-title {
  margin: 0;
  max-height: 50px;
  color: #c7c7ca;
  grid-row: 6/8;
  grid-column: 4/10;
  margin-top: 20px;
  font-weight: 100;
  letter-spacing: 0.1em;
}

body {
  text-align: center;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(117, 117, 117), rgb(102, 96, 96));
  color: rgb(41, 40, 40);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b6b4b4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.catalogue-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

img {
  /* border: 20px solid rgb(27, 27, 27);
  border-radius: 5px; */
  max-width: 100%;
}
